:root {
  --primery-color: #2e2f42;
  --primery-white-color: #ffffff;
  --accent-color: #4d5ae5;
  --accent-light-color: #f4f4fd;
  --text-color: #434455;
  --text-title-color: #2e2f42;
  --text-light-color: #e7e9fc;
  --logo-customers-color: #8e8f99;
  --primery-hover-color: #404bbf;
  --accent-hover-color: #31d0aa;

  --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  /* width: 100%; */
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
}

.list {
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  /* width: 1158px; */
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* background-color: #c8ee20; */
}

.title {
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--text-title-color);

  margin-bottom: 72px;
}

.item-title {
  font-size: 20px;
  line-height: 1.2;
  color: var(--primery-color);
  letter-spacing: 0.02em;
}

.item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section {
  /* padding: 120px 0; */
  padding: 96px 0;
}

.no-scroll {
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.btn {
  padding: 16px 32px;
  border: 1px solid var(--accent-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;

  background: var(--accent-color);
  color: var(--primery-white-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  transition: background-color var(--transition), border-color var(--transition);
}

.btn:hover,
.btn:focus {
  background-color: var(--primery-hover-color);
  border-color: var(--primery-hover-color);
}

.input-item {
  background-color: transparent;
  outline: none;
}

/* ==============================================
                  General
============================================== */
/* ------------------Header----------------- */

.header {
  background: var(--primery-white-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header > .container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-color);

  padding: 24px 0;
  margin-right: 77px;
}

.logo-web {
  color: var(--accent-color);
}

.header-navigation,
.header-contacts {
  display: none;
}

.item-link {
  color: var(--primery-color);
  transition: color var(--transition);
}

.menu-open {
  background-color: transparent;
  border: none;
}

.menu-open-icon {
  stroke: var(--primery-color);
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;

  background-color: #ffffff;
}
.menu-close {
  width: 24px;
  height: 24px;
  /* padding: 0; */
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--text-light-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  margin-left: auto;
  margin-bottom: 16px;
}

.mob-menu-list {
  margin-bottom: 50px;
}

.mob-menu > .container {
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
}

.item-link.current {
  color: var(--accent-color);
}

.mob-menu-contacts-item-tel {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.11;

  color: var(--accent-color);
  margin-bottom: 40px;
}

.mob-menu-contacts-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-bottom: 48px;
  text-decoration-color: none;
}

.mob-menu-contacts-link {
  color: var(--text-color);
  transition: color var(--transition);
}

.mob-menu-soc-list {
  display: flex;
  min-width: 250px;
  max-width: 328px;
  gap: 30px;
}

.mob-menu-soc-item {
  width: calc((100% -160px) / 4);
  height: 40px;
}

.mob-menu-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: var(--accent-color);
  border-radius: 50%;

  transition: background-color var(--transition);
}

.mob-menu-soc-icon {
  fill: var(--accent-light-color);
}

/* -----------------Footer-------------------- */

.footer {
  padding: 96px 0;
  background-color: var(--primery-color);
}

.footer > .container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
  /* align-content: center; */
}
.footer-tegline {
  max-width: 268px;
  /* margin-right: 120px; */
}

.tagline-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-light-color);
}

.tagline-text {
  margin-top: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-light-color);
}

.footer-social {
  width: 208px;
  /* margin-right: 80px; */
}
.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primery-white-color);

  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  gap: 16px;

  margin-top: 16px;
}

.footer-soc-item {
  width: calc((100% -48px) / 4);
  height: 40px;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color var(--transition);
}

.footer-soc-icon {
  fill: var(--accent-light-color);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-hover-color);
}
.footer-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.footer-form-input {
  width: 100%;
  height: 40px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--text-light-color);
}

.footer-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  min-width: 165px;
  padding: 8px 24px;
  text-align: left;
}

.footer-subscribe-wrap {
  position: relative;
  margin: auto;
}

.footer-submit-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;

  fill: var(--primery-white-color);
}

/* ==============================================
                  Index
============================================== */

/* --------------Hero----------- */

.hero {
  text-align: center;
  margin: 0 auto;
  padding: 112px 0;
  max-width: 428px;
  height: 432px;
  background-color: var(--primery-color);

  background-image: var(--bg-gradient), url(../images/people-office-mob.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient),
      url(../images/people-office-mob@2x.jpg);
  }
}

.hero-text {
  max-width: 350px;
}

.hero-title {
  margin-bottom: 72px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primery-white-color);
}

/* -------------------Advantages------------------- */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.advantages-item {
  width: 100%;
}

.advantages .item-title {
  /* margin-top: 8px; */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 8px;
}

.advantages .item-text {
  font-weight: 500;
}

/* -------------------Works------------------- */
.works {
  display: none;
}

/* -------------------Team------------------- */

.team {
  background-color: var(--accent-light-color);
}

.team > .container {
  width: 294px;
}

.team.section {
  padding-bottom: 128px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-item {
  width: 100%;
  /* width: calc((100% - 72px) / 4); */
}

.team-card {
  background-color: var(--primery-white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-card-content {
  max-width: 264px;
  padding: 32px 16px;
}

.team-item .item-title {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-item .item-text {
  text-align: center;
}

.team-soc-list {
  display: flex;
  gap: 24px;
  padding-top: 8px;
}

.team-soc-item {
  width: calc((100% -72px) / 4);
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;

  background-color: var(--accent-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color var(--transition);
}

.team-soc-icon {
  fill: var(--accent-light-color);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--primery-hover-color);
}

/* -------------------Customers------------------- */
.customers {
  /* padding-top: 130px; */
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  row-gap: 72px;
}

.customers-item {
  /* width: calc((100% -120px) / 6); */
  width: calc((100% - 16px) / 2);
  height: 88px;
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border: 1px solid var(--logo-customers-color);
  border-radius: 4px;

  transition: border-color var(--transition);
}

.customers-icon {
  fill: var(--logo-customers-color);
  transition: fill var(--transition);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--primery-hover-color);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--primery-hover-color);
}

/* ==============================================
                  Portfolio
============================================== */

/* ------------------Portfolio------------- */

.poject {
  /* padding-top: 98px; */
  padding-top: 48px;
}
.filter-btn {
  /* padding: 12px 24px; */
  padding: 8px 16px;

  border: 1px solid var(--text-light-color);
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--accent-color);
  background-color: var(--accent-light-color);

  cursor: pointer;
  transition: background-color var(--transition), color var(--transition),
    box-shadow var(--transition), border-color var(--transition);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--accent-color);
}

.filet-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  justify-content: start;
  gap: 24px;

  /* margin-bottom: 72px; */
  margin-bottom: 48px;
}

.project-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* column-gap: 24px; */
  row-gap: 48px;
  /* margin-bottom: 72px; */
  margin-bottom: 48px;
}

.project-list-item {
  /* width: calc((100% - 48px) / 3); */
  width: 100%;
}

.project-top-wrap {
  position: relative;
  overflow: hidden;
}
.project-top-text {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 40px 32px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-light-color);
  background-color: var(--accent-color);
  overflow: auto;

  transform: translateY(100%);
  transition: transform var(--transition);
}

.project-card-text {
  padding: 32px 16px;

  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.project-card-text > .item-title {
  margin-bottom: 8px;
}

.project-card {
  transition: box-shadow var(--transition);
}

.project-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-card:hover .project-top-text {
  transform: translateY(0);
}

/* ==============================================
                  Modal
============================================== */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition), visibility var(--transition);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 576px;

  padding: 0 24px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--text-light-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background-color var(--transition);
  cursor: pointer;
}

.modal-close-icon {
  transition: fill var(--transition);
}
.modal-close:hover {
  border: none;
  background-color: var(--accent-color);
}

.modal-close:hover > .modal-close-icon {
  fill: var(--primery-white-color);
}

.modal-title {
  padding-top: 72px;
  margin-bottom: 16px;

  font-weight: 500;
  color: var(--primery-color);
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--logo-customers-color);
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 35px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--primery-color);
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  /* width: 18px;
  height: 24px; */

  fill: var(--primery-color);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  resize: none;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.modal-text:focus {
  border-color: var(--accent-color);
}

.modal-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-field.text {
  margin-bottom: 0;
}

.check-text {
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-size: 12px;
  line-height: 1.33;

  letter-spacing: 0.04em;

  color: #757575;
}

.modal-link {
  text-decoration-line: underline;
}

.check-text span {
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--text-title-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color var(--transition), fill var(--transition);
}

.modal-input:checked + .check-text span {
  background-color: var(--primery-hover-color);
  border: none;
  fill: var(--accent-light-color);
}

.modal-submit {
  text-align: center;
  margin-bottom: 24px;
}

.modal-form-btn {
  min-width: 169px;
}
